.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  padding: 10px;
}

.toolbar {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.spacer {
  flex: 1;
}

.table-container {
  width: 60%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #3f51b5;
  color: white;
}

.mat-elevation-z8 {
  border-radius: 10px;
  overflow: hidden;
}

.add-container{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.add-livro-btn {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 14px;
  min-width: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.add-livro-btn mat-icon {
  margin-right: 12px;
  font-size: 24px;
}

.add-livro-btn:hover {
  background-color: #e6e6e6;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.add-livro-btn:focus {
  outline: none;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
}

.add-livro-btn:active {
  transform: scale(0.98);
}
td{
  color: black;
}
th{
  color: black;
}
.pesquisa{
  width: 20%;
  border-radius: 25px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  transition: all 0.3s ease-in-out;
  border-color: #dededf;
  box-shadow: 0 0 8px rgba(25, 118, 210, 0.3);
  color: #999;
  font-style: italic;

}
.pesquisa :hover{
  background-color: #e3f2fd;
}
@media (max-width: 600px) {
  .filter-field {
    max-width: 100%;
  }
}
.toolbar-actions {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.acoes-botoes {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

th.mat-header-cell,
td.mat-cell {
  text-align: right !important;
}
